@tailwind base;
@tailwind components;
@tailwind utilities;
/*global-css*/
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
  /*theme-css*/
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
/*global-styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
/*container*/
.container {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 20px;
}
/*scroll-styles*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

body {
  background-color: black;
}
/*text-animation*/
.main-text-animation {
  color: transparent;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 1) 0%, rgba(238, 100, 10, 1) 7%, rgba(210, 169, 39, 1) 14%, rgba(234, 252, 62, 1) 21%, rgba(134, 248, 82, 1) 28%, rgba(99, 245, 156, 1) 35%, rgba(87, 241, 215, 1) 42%, rgba(75, 216, 237, 1) 49%, rgba(66, 158, 239, 1) 56%, rgba(57, 74, 241, 1) 63%, rgba(126, 45, 244, 1) 70%, rgba(162, 84, 247, 1) 77%, rgba(229, 117, 249, 1) 84%, rgba(251, 103, 164, 1) 91%, rgba(253, 127, 190, 1) 97%, rgba(255, 0, 191, 1) 100%);
  -webkit-background-clip: text;
  animation: animate 20s linear infinite;
  background-size: 1000%;
}

@keyframes animate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.main-text-animation:hover {
  animation: animate 5s infinite linear;
}
/*bg-star-animation*/
.main {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow:
    -42vw -4vh 0 0 #fff,
    25vw -41vh 0px 0px #fff,
    -20vw 49vh 0px 1px #fff,
    5vw 40vh 1px 1px #fff,
    29vw 19vh 1px 0px #fff,
    -44vw -13vh 0px 0px #fff,
    46vw 41vh 0px 1px #fff,
    -3vw -45vh 0px 1px #fff,
    47vw 35vh 1px 0px #fff,
    12vw -8vh 1px 0px #fff,
    -34vw 48vh 1px 1px #fff,
    32vw 26vh 1px 1px #fff,
    32vw -41vh 1px 1px #fff,
    0vw 37vh 1px 1px #fff,
    34vw -26vh 1px 0px #fff,
    -14vw -49vh 1px 0px #fff,
    -12vw 45vh 0px 1px #fff,
    -44vw -33vh 0px 1px #fff,
    -13vw 41vh 0px 0px #fff,
    -36vw -11vh 0px 1px #fff,
    -23vw -24vh 1px 0px #fff,
    -38vw -27vh 0px 1px #fff,
    16vw -19vh 0px 0px #fff,
    28vw 33vh 1px 0px #fff,
    -49vw -4vh 0px 0px #fff,
    16vw 32vh 0px 1px #fff,
    36vw -18vh 1px 0px #fff,
    -25vw -30vh 1px 0px #fff,
    -23vw 24vh 0px 1px #fff,
    -2vw -35vh 1px 1px #fff,
    -25vw 9vh 0px 0px #fff,
    -15vw -34vh 0px 0px #fff,
    -8vw -19vh 1px 0px #fff,
    -20vw -20vh 1px 1px #fff,
    42vw 50vh 0px 1px #fff,
    -32vw 10vh 1px 0px #fff,
    -23vw -17vh 0px 0px #fff,
    44vw 15vh 1px 0px #fff,
    -40vw 33vh 1px 1px #fff,
    -43vw 8vh 0px 0px #fff,
    -48vw -15vh 1px 1px #fff,
    -24vw 17vh 0px 0px #fff,
    -31vw 50vh 1px 0px #fff,
    36vw -38vh 0px 1px #fff,
    -7vw 48vh 0px 0px #fff,
    15vw -32vh 0px 0px #fff,
    29vw -41vh 0px 0px #fff,
    2vw 37vh 1px 0px #fff,
    7vw -40vh 1px 1px #fff,
    15vw 18vh 0px 0px #fff,
    25vw -13vh 1px 1px #fff,
    -46vw -12vh 1px 1px #fff,
    -18vw 22vh 0px 0px #fff,
    23vw -9vh 1px 0px #fff,
    50vw 12vh 0px 1px #fff,
    45vw 2vh 0px 0px #fff,
    14vw -48vh 1px 0px #fff,
    23vw 43vh 0px 1px #fff,
    -40vw 16vh 1px 1px #fff,
    20vw -31vh 0px 1px #fff,
    -17vw 44vh 1px 1px #fff,
    18vw -45vh 0px 0px #fff,
    33vw -6vh 0px 0px #fff,
    0vw 7vh 0px 1px #fff,
    -10vw -18vh 0px 1px #fff,
    -19vw 5vh 1px 0px #fff,
    1vw 42vh 0px 0px #fff,
    22vw 48vh 0px 1px #fff,
    39vw -8vh 1px 1px #fff,
    -6vw -42vh 1px 0px #fff,
    -47vw 34vh 0px 0px #fff,
    -46vw 19vh 0px 1px #fff,
    -12vw -32vh 0px 0px #fff,
    -45vw -38vh 0px 1px #fff,
    -28vw 18vh 1px 0px #fff,
    -38vw -46vh 1px 1px #fff,
    49vw -6vh 1px 1px #fff,
    -28vw 18vh 1px 1px #fff,
    10vw -24vh 0px 1px #fff,
    -5vw -11vh 1px 1px #fff,
    33vw -8vh 1px 0px #fff,
    -16vw 17vh 0px 0px #fff,
    18vw 27vh 0px 1px #fff,
    -8vw -10vh 1px 1px #fff;

  animation: zoom 13s alternate infinite;
}

.main {
  box-shadow:
    24vw 9vh 1px 0px #fff,
    12vw -24vh 0px 1px #fff,
    -45vw -22vh 0px 0px #fff,
    -37vw -40vh 0px 1px #fff,
    29vw 19vh 0px 1px #fff,
    4vw -8vh 0px 1px #fff,
    -5vw 21vh 1px 1px #fff,
    -27vw 26vh 1px 1px #fff,
    -47vw -3vh 1px 1px #fff,
    -28vw -30vh 0px 1px #fff,
    -43vw -27vh 0px 1px #fff,
    4vw 22vh 1px 1px #fff,
    36vw 23vh 0px 0px #fff,
    -21vw 24vh 1px 1px #fff,
    -16vw 2vh 1px 0px #fff,
    -16vw -6vh 0px 0px #fff,
    5vw 26vh 0px 0px #fff,
    -34vw 41vh 0px 0px #fff,
    1vw 42vh 1px 1px #fff,
    11vw -13vh 1px 1px #fff,
    48vw -8vh 1px 0px #fff,
    22vw -15vh 0px 0px #fff,
    45vw 49vh 0px 0px #fff,
    43vw -27vh 1px 1px #fff,
    20vw -2vh 0px 0px #fff,
    8vw 22vh 0px 1px #fff,
    39vw 48vh 1px 1px #fff,
    -21vw -11vh 0px 1px #fff,
    -40vw 45vh 0px 1px #fff,
    11vw -30vh 1px 0px #fff,
    26vw 30vh 1px 0px #fff,
    45vw -29vh 0px 1px #fff,
    -2vw 18vh 0px 0px #fff,
    -29vw -45vh 1px 0px #fff,
    -7vw -27vh 1px 1px #fff,
    42vw 24vh 0px 0px #fff,
    45vw -48vh 1px 0px #fff,
    -36vw -18vh 0px 0px #fff,
    -44vw 13vh 0px 1px #fff,
    36vw 16vh 0px 1px #fff,
    40vw 24vh 0px 0px #fff,
    18vw 11vh 0px 0px #fff,
    -15vw -23vh 1px 0px #fff,
    -24vw 48vh 0px 1px #fff,
    27vw -45vh 1px 0px #fff,
    -2vw -24vh 0px 1px #fff,
    -15vw -28vh 0px 0px #fff,
    -43vw 13vh 1px 0px #fff,
    7vw 27vh 1px 0px #fff,
    47vw 5vh 0px 0px #fff,
    -45vw 15vh 1px 1px #fff,
    -5vw -28vh 0px 1px #fff,
    38vw 25vh 1px 1px #fff,
    -39vw -1vh 1px 0px #fff,
    5vw 0vh 1px 0px #fff,
    49vw 13vh 0px 0px #fff,
    48vw 10vh 0px 1px #fff,
    19vw -28vh 0px 0px #fff,
    4vw 7vh 0px 0px #fff,
    21vw 21vh 1px 1px #fff,
    -15vw -15vh 0px 1px #fff,
    -6vw -42vh 1px 0px #fff,
    -15vw 48vh 1px 1px #fff,
    -23vw 25vh 1px 1px #fff,
    -48vw 25vh 0px 1px #fff,
    -31vw -19vh 0px 1px #fff,
    4vw 37vh 1px 1px #fff,
    -43vw 28vh 0px 0px #fff,
    3vw -25vh 0px 1px #fff,
    -39vw 14vh 0px 1px #fff,
    -40vw 31vh 0px 1px #fff,
    35vw -36vh 1px 1px #fff,
    16vw 49vh 0px 0px #fff,
    6vw 39vh 0px 0px #fff,
    3vw -35vh 0px 1px #fff,
    -44vw -2vh 1px 0px #fff,
    -6vw 21vh 1px 0px #fff,
    48vw 9vh 1px 1px #fff,
    -43vw 30vh 1px 1px #fff,
    29vw -12vh 1px 1px #fff,
    -48vw 13vh 1px 0px #fff,
    -42vw 32vh 1px 1px #fff,
    34vw 15vh 1px 1px #fff,
    29vw -37vh 1px 1px #fff,
    28vw 2vh 0px 0px #fff;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.border-style {
  border: none !important;
  outline: none !important;
}

/*clerk.com-styles*/
.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color: #90cdf4;
  color: #000;
  border-radius: 20px;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #90cdf4;
}

.cl-footerActionLink {
  color: white !important;
}

.cl-signIn-start {
  background-color: transparent;
  box-shadow: none;
  width: 30rem;
}

.cl-signUp-start {
  background-color: transparent;
  box-shadow: none;
  width: 30rem;
}

.cl-formFieldInput {
  border-radius: 20px;
}

.cl-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes hues {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

.cl-headerTitle {
  animation: hues 4s infinite linear;
  background-image: linear-gradient(92deg, #f35626 0%, #feab3a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f35626;
  font-size: 30px;
  font-weight: bold;
}

.cl-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cl-identityPreview {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*loader-styles*/
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-circle:before {
  content: "";
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 8px solid #7e3af2;
  border-color: #7e3af2 transparent #7e3af2 transparent;
  animation: loader 0.5s linear infinite;
  margin-bottom: 10px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

.epr_c90x4z {
  display: none !important;
}

.epr_c90x4z {
  display: none !important;
}

.epr_-xuzz9z {
  display: none !important;
}

.epr_-xuzz9z img {
  width: 20px !important;
  height: 20px !important;
}

.epr_-xuzz9z {
  width: 20px !important;
  height: 20px !important;
}
/*loading*/
.loading03 span {
  margin: 0 -0.075em;
  animation: loading03 0.7s infinite alternate;
}
.loading03 span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading03 span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading03 span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading03 span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading03 span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading03 span:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes loading03 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.loading {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  color: #7e3af2;
}
.loading span {
  display: inline-block;
}

.border-style {
  border-radius: 25px !important;
}

/*modal-animation*/
.modal-enter {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.modal-enter-active {
  opacity: 1;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
/*btn-animation*/
.sp {
  box-shadow: rgba(123, 180, 228, 0.78) 3px 3px 0px;
}

.sp:hover {
  box-shadow: none !important;
}

.ps {
  box-shadow: rgba(252, 210, 141, 0.78) 3px 3px 0px;
}

.github-bg {
  box-shadow: rgba(147, 52, 233, 0.5) 3px 3px 0px;
}

.github-bg:hover {
  box-shadow: none !important;
}

.project-bg {
  box-shadow: rgba(244, 63, 95, 0.5) 3px 3px 0px;
}

.project-bg:hover {
  box-shadow: none !important;
}

.coffee-bg {
  box-shadow: rgba(60, 130, 246, 0.5) 3px 3px 0px;
}

.coffee-bg:hover {
  box-shadow: none !important;
}

.database-bg {
  box-shadow: rgba(34, 197, 93, 0.5) 3px 3px 0px;
}

.database-bg:hover {
  box-shadow: none !important;
}

.domain-bg {
  box-shadow: rgba(251, 146, 60, 0.5) 3px 3px 0px;
}

.domain-bg:hover {
  box-shadow: none !important;
}

.logout-bg:hover {
  box-shadow: rgba(123, 180, 228, 0.78) 3px 3px 0px;
}

.logout-bg:active {
  box-shadow: none !important;
}

.page-bg {
  box-shadow: rgba(255, 255, 255, 0.7) 4px 4px 0px !important;
}

.save-bg {
  box-shadow: rgba(154, 230, 180, 0.6) 3px 3px 0px;
}

.save-bg:hover {
  box-shadow: none;
}
